<!doctype html>
<!--
The consent.html displays the text of an IRB-approved consent form.
-->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning and Decision Making Experiment - Informed Consent Form</title>
    <link rel="stylesheet" href="../static/css/tacit-css.min.css"/>
    
    <style>
      body { margin: 30px;} 
    </style>
  </head>

  <body>
    <!-- Study headers -->
    <center><h1>INFORMED CONSENT FOR RESEARCH</h1></center>

    <hr>
    <p>
      <b>Study Title</b>: Learning and decision making under uncertainty
      <br>
      <b>Principal Investigator:</b>: 
      <br>
      <b>Department</b>: 
    </p>
    <hr>

    <!-- Intro paragraph -->
    <center><h2>INTRODUCTION</h2></center>
    <p>
      We invite you to take part in a research study. Please take as much time as you need to read the consent form. You may want to discuss it with your family, friends, or your personal doctor. If you find any of the language difficult to understand, please ask questions.
    </p>

    <!-- Study purpose -->
    <u><h2>PURPOSE</h2></u>
    <p>
      With this research we hope to study the following objectives related to human learning and decision-making:
    </p>
      <ol type="I">
        <li>Understanding how humans learn from feedback.</li>
        <li>Understanding how humans draw on this knowledge to make decisions..</li>
      </ol>
    <p>
      You are invited as a possible participant because you are at least 18 years old, and you speak English fluently. This research is funded by the National Institutes of Health.
    </p>

    <!-- Study procedures -->
    <u><h2>PROCEDURES</h2></u>
    <p>
      If you decide to take part, this is what will happen: you will be asked to complete a series of online surveys and behavioral tasks. During the tasks, you will repeatedly be presented with images on the computer screen and asked to make decisions or responses using button-presses or mouse-clicks. Before and after the behavioral tasks, you may be asked to answer some questions about the tasks. You might be asked to participate in future phases of the study, which will take place using the same online survey platform. If you are asked to participate in future phases, you will be given the opportunity to provide informed consent for each phase separately.
    </p>
    <p>
      Your total expected time commitment for this study is about 45 minutes.
    </p>

  <!-- Risk and discomforts -->
    <u><h2>RISKS AND DISCOMFORTS</h2></u>
    <p>
      Possible risks and discomforts you could experience during this study include:
    </p>
    <!-- Confidentiality -->
    <h3>Breach of Confidentiality</h3>
    <p>
      There is a small risk that people who are not connected with this study will learn your identity or your personal information. To mitigate this risk, your data will be collected anonymously meaning the researchers will not have access to your personal identifying information. We will not ask you for any identifiable information during or after this experiment. The survey platforms will have access to your identifiers and contact information, but will not have access to your responses.
    </p>

    <!-- Benefits -->
    <u><h2>BENEFITS</h2></u>
    <p>
      There are no direct benefits to you from taking part in this study. However, your participation in this study may help us learn how humans make decisions.
    </p>

    <!-- Privacy/ Confidentiality -->
    <u><h2>PRIVACY/CONFIDENTIALITY</h2></u>
    <p>
      Your data will be collected anonymously. Researchers have no access to your personal identifying information, which you have provided to the online platform.
    </p>
    <p>
      Organizations that may also inspect and copy your information include the funding agency National Institutes of Health.
    </p>
    <p>
      Your anonymous data might be used or distributed for future research studies without your additional informed consent. Your anonymous data will be retained by the investigator for future use indefinitely.
    </p>
    <p>
      This study is conducted on [Amazon Mechanical Turk or Prolific], and it follows their Privacy Policy. We highly recommend that you familiarize yourself with the privacy policies of the platform. Please be aware that while researchers do not have access to your identifiable information, there is a potential risk of breach of confidentiality associated with any online platform.
    </p>

    <!-- ALternatives -->
    <u><h2>ALTERNATIVES</h2></u>
    <p>
      An alternative would be to not participate in this study.
    </p>

    <!-- Payments/ Compensations -->
    <u><h2>PAYMENTS / COMPENSATION</h2></u>
    <p>
      You will receive compensation at a rate of approximately $8 per hour, based on the estimated length of the study, plus an additional bonus based on your performance in the experiment. Your compensation may vary depending on your agreement with the survey platform. Payments for research participation are considered taxable income and participants may be required to pay taxes on this income.
    </p>

    <!-- Voluntary Participation -->
    <u><h2>VOLUNTARY PARTICIPATION</h2></u>
    <p>
      It is your choice whether to participate. If you choose to participate, you may change your mind and leave the study at any time. If you decide not to participate, or choose to end your participation in this study, you will not be penalized or lose any benefits that you are otherwise entitled to. If you stop being in the research, already collected data may not be removed from the study database.
    </p>

    <!-- Contact information -->
    <u><h2>CONTACT INFORMATION</h2></u>
    <p>
      If you have any questions about this study, please contact the principal investigator
    </p>
    <p>
      ...
    </p>

    <!-- Consent -->
    <center><h2>STATEMENT OF CONSENT</h2></center>
    <p>
      I have read the information provided above. I have been given a chance to ask questions. All my questions have been answered. By clicking the “ACCEPT” button below, I hereby give my consent to be the subject of this research.
    </p>

    <center>
      <form method="post">
        <div class="recontact">
          <p>Would you like to be re-contacted for future studies?</p>
          <p>
            <input type="radio" name="future_contact" value="Yes">Yes
            <input type="radio" name="future_contact" value="No">No
          </p>
        </div>
        <button type="submit" name="subj_consent" value=1>I accept</button>
        <button type="submit" name="subj_consent" value=0>No thank you</button>
      </form>
    </center>
  </body>
  <style>
    .recontact {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 0;
      z-index: -1;
    }
  </style>
</html>
